---
import Nav from '../components/Nav.astro';
const {title = 'Codrops'} = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="./src/styles.css" />
	</head>


	<body>
		<!-- nav is outside of the main container, 
		 so will never be swapped  -->
		<Nav entry={title} />

		<!-- target for the swapped content -->
		<main data-taxi>
			<!-- container for the 
			 content that will change -->
			<div data-taxi-view>
				<slot />
			</div>
		</main>

		<!-- add this to cover 
		 the whole screen -->
		<div class="transition-block"></div>

		<!-- same for the nav, this is our main javascript 
		 entry point that we want to only run once and not 
		 changed based on pages -->
		<script>
			import "../modules/app";
		</script>
	</body>
</html>


<style>
.transition-block{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: red;
	pointer-events: none;

	z-index: 100;

	transform: scaleY(0);
	transform-origin: bottom;
	
}
</style>